<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <p>
      This is a page where you can get help.

      <div class="alert alert-warning">
  <strong>Sorry!</strong> We're not offering any help at this time.
</div>
    </p>
  </body>
</html>
