<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      Your random philosopher is <%= @random_philosopher %>.
    </p>
    <button onClick="window.location.reload();" class="btn
    btn-default">Try again</button>
  </body>
</html>
